html {
	position: relative;
	font-family : Helvetica, Arial, Sans-Serif;
	height: 100%;
	width: 100%;
}

.hidden {
	display: none;
}

.span--blue {
	color: #3C5A96;
}

.span--annot {
	font-size: 0.55em;
	padding-left: 10px;
	color: #3E5C97;
}

.span--smaller {
	font-size: 0.95em;
}

.span--line-height {
}

.red {
	color: red;
}

.green {
	color: green;
}

.a {
	text-decoration: underline;
	cursor: pointer;
}

.a--black {
	color: #333;
}

.normal-font {
	font-weight: normal;
	color: #999;
}

body {
	max-width: 1092px;
	margin: 0 auto;
	background-color: #E9EAED;
}

header.menu {
	width: 100%;
	color: #E9EAED;
	margin-top: 8px;
	margin-bottom: 8px;
	font-weight: bold;
	background-color: #44619a;
	line-height: 50px;
	height: 50px;
	border: 1px solid #aaa;
	box-sizing: border-box;
}

.menu__id {
	display: inline-block;
	margin-left: 16px;
	font-size: 1.3em;
	float: left;
}

.menu__ul {
	margin: 0;
	float: right;
}

.menu__item {
	display: inline-block;
	padding-left: 29px;
	padding-right: 29px;
	border-left: 1px solid #E9EAED;
	font-size: 0.75em;
}


.avatar {
	display: inline-block;
	vertical-align: top;
	margin-right: 5px;
	padding: 5px;

	border: 1px solid #ccc;
	background-color: #fff;
	box-sizing: border-box;
}

.avatar img {
	height: 200px;
	width: 200px;
}

.main {
	display: inline-block;
	width: 870px;

	border: 1px solid #ccc;
	background-color: #fff;

	font-size: 0.87em;
	color: #333;

	box-sizing: border-box;
}

.main__header {
	width: 100%;
	border-bottom: 2px solid #ccc;
	background-color: #f6f7f8;
	padding: 5px;
	font-size: 1.6em;
	box-sizing: border-box;
}

.main__container {
	margin: 0 15px 20px 22px;
}

.main__section {
	border-bottom: 1px solid #ccc;
}

.main__section--last {
	border-bottom: none;
}

.main__recommend {
	background-color: #f6f7f8;
	padding: 10px 15px;
	margin-top: 20px;
}

.main__close {
	float: right;
}

.main__h4 {
	margin: 0;
	font-weight: bold;
}

.main__p {
	font-size: 0.95em;
}

.main__data {
	display: inline-block;
	width: 470px;
	margin-right: 110px;
}

.main__row {
	margin: 16px 0;
	line-height: 23px;
}

.main__icon-container {
	display: inline-block;
	margin-right: 10px;
	width: 25px;
	vertical-align: top;
}

.main__icon-container--contacts {
	margin-right: 20px;
}

.main__text-container {
	display: inline-block;
	max-width: 430px;
}

.main__icon {
	width: 25px;
	vertical-align: bottom;
}

.main__icon--heart {
	padding-left: 2px;
	width: 22px;
}

.main__icon--phone {
	padding-left: 2px;
	width: 20px;
}

.main__icon--inf {
	width: 20px;
	vertical-align: middle;
	padding-right: 5px;
}

.main__icon--phone-table {
	width: 20px;
	vertical-align: middle;
	padding-right: 10px;
}

.main__links {
	display: inline-block;
	vertical-align: top;
	width: 29%;
}


/* Friends page specific styles*/

.filters {
	padding: 0;
	margin: 10px 0;
}

.filter-item {
	display: inline-block;
	list-style: none;
	font-weight: bold;
	font-size: 0.6em;
	margin: 0 5px;
	color: #3C5A96;
	cursor: pointer;
}

.search {
	margin: 10px 20px;
}

.search__input {
	height: 20px;
	width: 350px;
	border: 1px solid #ddd;
	padding: 5px;
}

.search__input[value] {
	color: #C9C9C9;
}

.search__button {
	margin-left: 10px;
	padding-right: 15px;
	padding-left: 15px;
	color: #666;
	font-size: 1.2em;
}

.table {
	margin-top: 10px;
	font-size: 0.9em;
	width: 100%;
	border-collapse: collapse;
}

.table__row {
	height: 30px;
	line-height: 30px;
}

thead.table__row--header {
	font-size: 1.2em;
}

th.table__cell--header {
	height: 50px;
	font-weight: normal;
}

.table__cell {
	border: 1px solid #eee;
}

.table__cell--phone {
	text-align: center;
}

.table__network-icon {
	float: right;
}

.col--account {
	width: 25%;
}

.col--phone {
	width: 15%;
}

.col--type {
	width: 20%;
}

.col--property {
	width: 5%;
}

.table__tag {
	border-radius: 7px;
	padding: 2px 5px;
	background-color: yellow;
}

.js-green {
	background-color: green;
}

.js-red {
	background-color: red;
}

.js-yellow {
	background-color: yellow;
}

.js-blue {
	background-color: blue;
}

.js-orange {
	background-color: orange;
}

.main__footer {
	height: 35px;
	line-height: 35px;
	text-align: center;
	font-size: 0.9em;
	color: #637BAB;
	text-decoration: underline;
	cursor: pointer;
}